html {
  background-color: #0FC7D6;
  font-family: Viga, sans-serif;
}

.masthead {
  background-color: #000000;
  color: #fff;
}

.logo {
  text-align: center;
}

.logo-text {
  display: inline-block;
  width: 5em;
}

.nav {
  text-align: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
}

.nav a:hover span {
  color: #0FC7D6;
}

.banner {
  min-height: 16em;
  color: #fff;
}

.btn-banner {
  border-color: #0FC7D6;
  color:  #000000;
}

.btn-banner:hover,
.btn-banner:focus {
  background-color: #0FC7D6;
  border-color: #000000;
  color: #000000;
}

.footer {
  background-color: #000000;
  color: #fff;
}

h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 5em;
  color: #000000;
}

.bottom-text {
top: 0;
}

.signupbb {

}
