html {
  background-color: #0fcdd6;
  font-family: Viga, sans-serif;
}

.masthead {
  background-color: #000;
  color: #fff;
}

.logo {
  text-align: center;
}

.logo-text {
  display: inline-block;
  width: 5em;
}

.nav {
  text-align: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
}

.nav a:hover span {
  color: #0fcdd6;
}

.btn {
  background-color: #0fcdd6;
  color: #000;
  border-color: #0fcdd6;
}

.btn-banner {
  border-color: #0fcdd6;
  color: #000;
}

.btn-banner:hover,
.btn-banner:focus {
  background-color: #0fcdd6;
  border-color: #000;
  color: #000;
}

.footer {
  background-color: #000;
  color: #fff;
}

.header-two {
  font-family: "Bebas Neue", cursive;
  color: #000;
}

.bottom-text {
  top: 0;
}

.banner {
  overflow: hidden;
  position: relative;
}

.banner-content {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  color: #fff;
  text-align: center;
}

.banner-img {
  height: 100vh;
  width: 100%;
}

.signupbb {
  color: #0fcdd6;
}

caption {
  color: #fff;
}

.dj {
  width: 100%;
}

.form-stuff {
  color: #0fcdd6;
}

@media only screen and (min-width: 60em) {

  .dj {
    height: 250px;
    width: 250px;
    left: 50rem;
    bottom: 13rem;
  }

}
